.body{
    background: #132440;
    background: linear-gradient(180deg, rgba(19, 36, 64, 1) 0%, rgba(22, 71, 106, 1) 100%);
}

.navbar{
    background-color: rgba(19, 36, 64, 0.25);
    box-shadow: inset 0 0 25px rgba(114, 146, 197, 0.25);
    border-radius: 0px 0px 7.5px 7.5px;
    align-content: center;
    min-height: 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 7.5vh;
    backdrop-filter: blur(6px);
}


.navbarWebsiteName{
    font-size: 2.5vh;
    font-family: 'Comic Sans MS';
    color: white;
    margin-left: 2%;
}

.mainContent{
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-auto-rows: calc(100vh - 7.5vh - 5px - 5vw - 5px);
    gap: 7.5vw;
    margin-top: calc(7.5vh + 5px);
    padding: 2.5vw;
    justify-content: center;
}

.block{
    background-color: rgba(47, 51, 74, 0.25);
    box-shadow: 0 0 5px 3px rgb(57, 61, 91);
    font-size: clamp( 15px, calc((1.5vw + 1.5vh) / 2), 50px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
    margin: 5px;
    overflow: auto;
    color: white;
    padding: 1.5vw;
}