html{
    margin: 0;
    padding: 0;
}

body{
    background: #2d004d;
    background: linear-gradient(180deg,rgba(45, 0, 77, 1) 0%, rgba(13, 5, 23, 1) 40%, rgba(17, 6, 31, 1) 60%, rgba(20, 10, 105, 1) 100%);     
    background-repeat: no-repeat;
}

/* ----------- Navbar ---------- */

.navbar{
    background-color: rgba(19, 36, 64, 0.25);
    box-shadow: inset 0 0 25px rgba(148, 148, 148, 0.25);
    border-radius: 0px 0px 7.5px 7.5px;
    align-content: center;
    min-height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: calc((5vw+5vh)/2);
    backdrop-filter: blur(6px);
    display: grid;
    grid-template-columns: 20vw 58vw 20vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.navbarSocials{
    justify-items: center;
    color:white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.navbarSocialButtons{
    background: transparent;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    color:white;
    width: 4.5vw;
    min-width: 37.5px;
    min-height: 37.5px;
    height: 4.5vh;
    font-size: calc((2vw + 2vh) / 2.5);
    transition: 0.2s;
}

.navbarSocialButtons:hover{
    transform: scale(0.9);
    box-shadow: 0 0 5px 4px rgba(208, 206, 207, 0.5);
}

.navbarSocialButtons:active{
    transform: scale(0.8);
    box-shadow: 0 0 5px 4px rgba(208, 206, 207, 0.5);
}

.navbarWebsiteName{
    font-size: clamp(20px, calc((2vw + 2vh) / 2), calc((2vw + 2vh)/2));
    font-family: 'Comic Sans MS';
    color: white;
    margin-left: 2%;
}

/* ----------- Main content ---------- */

/* main content separator */
.mainSeparator{
    display:grid;
    grid-template-rows: auto;
    margin-top:calc(7.5vh + 5px);
    padding:2.5vw;
    gap: 4vw;
    justify-content: center;
    
}

/*Main info*/
 #mainInfo{
    max-width: 82.5vw;
    display:grid;
    grid-template-columns: 80vw;
    grid-auto-rows: auto;
    gap: 1vh;
    min-width: 650px;
    justify-items: center;

    font-size: clamp( 15px, calc((1.35vw + 1.35vh) / 2), 50px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
    min-width: 307px;
    overflow: auto;
    color: white;
    padding: 1.5vw;
    transition: 0.3s;
 }

 /*Setup of name, logo, about me*/
 .mainInfoRealName{
    font-size: 4vw;
    padding-top: 7.5vh;
 }

 .mainInfoNugggetName{
    font-size: 1vw;
 }

 .mainInfoLogoImg{
    height: 25vw;
    padding-top: 5vh;
 }

 .mainInfoÜberMichHead{
    font-size: 2vw;
    padding-top: 2.5vh;
 }

 .mainInfoÜberMichText{
    font-size: 1.3vw;
    width: 60vw;
    text-align:center;
 }



/* main content blocks  */
.mainContent{
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-auto-rows: calc(75vh - 5vh - 5px - 5vw - 5px);
    gap: 4vw;
    justify-content: center;
}

@media(max-width:56em){
    .mainContent{
        grid-template-columns: 90vw;
    }
}

.block{
    background-color: rgba(47, 51, 74, 0.25);
    box-shadow: 0 0 5px 3px rgb(57, 61, 91);
    font-size: 1.3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
    min-width: 307px;
    overflow: auto;
    color: white;
    padding: 1.5vw;
    transition: 0.3s;
}

.block:hover{
    box-shadow: 0 0 5px 4px rgba(208, 206, 207, 0.35);
}